social-media/n8n-workflows/substack_to_meta.json
{
  "name": "CCN Substack to Meta \u2014 Phase 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * 1,3,5,0"
            }
          ]
        }
      },
      "name": "Schedule \u2014 Mon/Wed/Fri/Sun 9AM AST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://danova.substack.com/api/v1/posts?limit=1",
        "options": {}
      },
      "name": "Fetch Latest Substack Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.first().json;\nconst post = Array.isArray(posts) ? posts[0] : posts;\nconst title    = post.title || 'New from CCN';\nconst subtitle = post.subtitle || '';\nconst slug     = post.slug || '';\nconst url      = `https://danova.substack.com/p/${slug}`;\nconst imageUrl = post.cover_image || '';\nconst message  = `\u271d\ufe0f ${title}\\n\\n#ConsciousCultureNOW #CCNow #Kingdom #Faith #HipHop #ElPabellon\\n\\n${subtitle}\\n\\nRead the full post: ${url}`;\nreturn [{ json: { title, subtitle, url, imageUrl, message, slug } }];"
      },
      "name": "Format CCN Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{$env.CCN_FACEBOOK_PAGE_ID}}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{$json.message}}"
            },
            {
              "name": "access_token",
              "value": "={{$env.META_PAGE_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Post to Facebook Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{$env.CCN_THREADS_USER_ID}}/threads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "TEXT"
            },
            {
              "name": "text",
              "value": "={{$json.message}}"
            },
            {
              "name": "access_token",
              "value": "={{$env.META_PAGE_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Post to Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Schedule \u2014 Mon/Wed/Fri/Sun 9AM AST": {
      "main": [
        [
          {
            "node": "Fetch Latest Substack Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest Substack Post": {
      "main": [
        [
          {
            "node": "Format CCN Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format CCN Post": {
      "main": [
        [
          {
            "node": "Post to Facebook Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Puerto_Rico"
  },
  "tags": [
    "CCN",
    "Social Media",
    "Phase 1"
  ]
}